.box{
    background-color: rgb(127, 187, 255);
width: 200px;
height: 200px;
transition-property: background-color border-radius;
text-align: center;
transition: all 1s ease-in-out;
}
.box:hover{
background-color: blue;
transition-duration: 2s;
border-radius: 50%;
height: 300px;
width: 300px;
}
.box:active{
    background-color: rgb(101, 101, 119);
    }